extends layout
include _includes/sharedHTMLfunctions

block content
  .clearfix
    h1.float-left= title_content
    a(href="/new").float-right.btn.btn-info New
  p= tagline
  <br/>
  <app-home-list>Loading.....</app-home-list>

   





  
                    