extends layout
include _includes/sharedHTMLfunctions

block content
  h1= currentFood.name
  <br/>
  <br/>
  <br/>
  .row
    .col-sm-6.favourite
      img(src= currentFood.image)
    .col-sm-6.fav-reviews 
      .card.card-info.review-card 
          .card-block 
            h2.card-title Customer Reviews
            each review in currentFood.reviews
              .row.review
                .col-12.no-gutters.review-header  
                  span.rating 
                    +outputRating(review.rating)
                  span.reviewAuthor #{review.author} 
                  small.reviewTimestamp on #{review.timestamp}
                .col-12 
                  p.comments !{(review.reviewText).replace(/\n/g, '<br/>')} 