extends layout

block content
  .container
    h1= title
    <br/>
    ul.movie-list.row
      each movie in movieArray
        li.col-sm-3
          .movie-item
            .mv-img
              img(src=""+ movie.image +"" alt="" width="185" height="284")
            .hvr-inner Read more
            .title-in
              h6
                a(href="javascript:void(0)" tabindex="0") #{movie.name}
              p
                i.ion-android-star
                  span #{movie.rating}/5
        
    

