extends layout

block content
  h1= title_content
  p Here is a list of food we are serving today
  <br/>
  .row
    .col-sm-4
      .card.card-warning
        .card-block
          h5 Dal Makhani
    .col-sm-4
      .card.card-info
        .card-block
          h5 Shahi Paneer
    .col-sm-4
      .card.card-warning
        .card-block
          h5 Kadai Paneer
  <br/>
  .row
    .col-sm-4
      .card.card-info
        .card-block
          h5 Palak Paneer
    .col-sm-4
      .card.card-warning
        .card-block
          h5 Chana Masala
    .col-sm-4
      .card.card-info
        .card-block
          h5 Mix veg

